.response {
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #007bff;
  border: 2px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.response:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
